/*Logo font*/
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Onest:wght@600&display=swap");

/*Header font*/
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=IM+Fell+English+SC&family=Onest:wght@600&display=swap");

/*Text*/
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Archivo+Black&family=IM+Fell+English+SC&family=Onest:wght@600&display=swap");

/*Colors*/
html {
  --orange: #c2901b;
  --brown: #6e440a;
  --beige: #e9ebb9;
}

body {
  margin: 0;
}

/*HEADER*/
header,
.header-menu {
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
}

header nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header nav ul a {
  margin-right: 20px; /* Optional: Add some space between the icons */
}
/*Size of the icons in the header*/
.icon {
  width: 40%;
}

/*Distance (Margin) in between the icons*/
figure {
  margin-left: 0%;
  margin-right: 0%;
}

/*Maison d´Epoque logo settings*/
#logo {
  font-size: 2.5rem;
  font-family: "IM Fell English SC", serif;
  color: var(--brown);
}

/*The logo has no underline for the link*/
a {
  text-decoration: none;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  color: var(--brown);
  margin-left: 5%;
  margin-top: 2%;
}

/*FOOTER*/
#newsletter-headline {
  margin-left: 2rem;
  font-size: 1.4rem;
  margin-bottom: 0%;
}

#newsletter-text {
  margin-left: 2rem;
  margin-top: 0%;
}

h3,
li,
p {
  font-family: "Afacad", sans-serif;
  list-style: none;
  color: var(--brown);
}

ul {
  padding-left: 0;
  color: var(--brown);
  margin-top: 0%;
}

/*Input box for the Newsletter*/
#input-box-footer {
  margin-left: 2rem;
  background-color: white;
  width: 19rem;
  height: 2rem;
  border-radius: 6px;
  border-color: var(--beige);
}

/*Background-color for the footer*/
footer {
  background-color: var(--beige);
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

/*Grid for the footer*/
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: left;
  margin-left: 2rem;
  margin-top: 4rem;
}

.footer-header {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.4rem;
}

/* First article */
.first-article {
  width: 30%;
}

#first-cart-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  margin-left: 2rem;
  margin-top: 4rem;
  border: 2px solid #c2901b;
  border-radius: 8px;
}

ul {
  margin-top: 9%;
  margin-right: 0;
}
