/*Logo font*/
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Onest:wght@600&display=swap");

/*Header font*/
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=IM+Fell+English+SC&family=Onest:wght@600&display=swap");

/*Text*/
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Archivo+Black&family=IM+Fell+English+SC&family=Onest:wght@600&display=swap");

/*Colors*/
html {
  --orange: #c2901b;
  --brown: #6e440a;
  --beige: #e9ebb9;
}

body {
  margin: 0;
}

/*HEADER*/
header,
.header-menu {
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
}

header nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header nav ul a {
  margin-right: 20px; /* Optional: Add some space between the icons */
}

/*Size of the icons in the header*/
.icon {
  width: 40%;
}

/*Distance (Margin) in between the icons*/
figure {
  margin-left: 0%;
  margin-right: 0%;
}

/*Maison d´Epoque logo settings*/
#logo {
  font-size: 2.5rem;
  font-family: "IM Fell English SC", serif;
  color: var(--brown);
}

/*The logo has no underline for the link*/
a {
  text-decoration: none;
}

/*MAIN PART*/
/*Shopping cart headline*/
main {
  margin-left: 3rem;
  margin-right: 3rem;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  color: var(--brown);
  margin-top: 2%;
}

/*FOOTER*/
#newsletter-headline {
  margin-left: 2rem;
  font-size: 1.4rem;
  margin-bottom: 0%;
}

#newsletter-text {
  margin-left: 2rem;
  margin-top: 0%;
}

h3,
li,
p {
  font-family: "Afacad", sans-serif;
  list-style: none;
  color: var(--brown);
}

ul {
  padding-left: 0;
  color: var(--brown);
  margin-top: 0%;
}

/*Input box for the Newsletter*/
#input-box-footer {
  margin-left: 2rem;
  background-color: white;
  width: 19rem;
  height: 2rem;
  border-radius: 6px;
  border-color: var(--beige);
}

/*Background-color for the footer*/
footer {
  background-color: burlywood;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

/*Grid for the footer*/
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: left;
  margin-left: 2rem;
  margin-top: 4rem;
}

.footer-header {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.4rem;
}

/* ARTICLE */
.first-article {
  width: 15%;
}

#first-cart-image {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  padding: 15px;
  margin-left: 10%;
  margin-top: 4rem;
  border: 2px solid #c2901b;
  border-radius: 8px;
  justify-content: space-between;
}

ul {
  margin-top: 5%;
  margin-right: 0;
}

.total {
  text-align: right;
  margin-right: 9%;
}

.delete-icon {
  margin-top: 10%;
  width: 30px;
  margin-left: auto;
}

#cart-title {
  font-size: 200%;
}

/*SCROLL*/
/*I learned about the scroll feature on youtube: https://www.youtube.com/watch?v=2_E5uoiLCLY, accessed: 24.02.25*/
#recommended-headline {
  margin-left: 2rem;
  margin-top: 5%;
}

.scroll {
  padding-top: 1rem;
  max-height: 100%;
  display: flex;
  overflow-x: auto;
}

.scroll::-webkit-scrollbar {
  width: 0;
}
.scroll .chair-scroll {
  width: 25%;
  height: 100%;
  line-height: 110px;
  text-align: center;
}

/* CHECKOUT BUTTON */
.checkout-btn {
  background-color: #c2901b;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  transition: background 0.3s;
  display: block;
  margin-left: 83%;
}

.checkout-btn:hover {
  background-color: #a57716;
}
